*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --eva-purple: #6f00a9;
    --eva-green: #8bc34a;
    --eva-red: #ff1744;
    --eva-grey: #9e9e9e;
    --eva-white: #ffffff;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
    /*background with hex and opacity to 0.5 */
    background: #222222dd;
}

#root{
    background: linear-gradient(to bottom, #430860 0%, transparent 100%);
    /*background-color: #162e3b;
    background-image: linear-gradient(0deg, #162e3b 0%, RGBA(0,0,0,0) 100%);
    */height: 100%;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    height: 100%;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}